<h2>{{consequences}} You receive {{points}} points.</h2>

{{!-- <a href="/scenes/{{next}}">Go to the next scene!</a>
 --}}

<form action="/scenes/{{next}}" method="post">
  <input type="submit" value="Submit">
</form>